schemas/euscreen/EUScreenXLSeries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by cpard (EMBRACE) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:sch="http://purl.oclc.org/dsdl/schematron" 			
		xmlns:eus="http://www.euscreen.eu/schemas/euscreen/" 
		targetNamespace="http://www.euscreen.eu/schemas/euscreen/" 
		elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="EUScreen">
		<complexType>
			<annotation>
				<documentation> The root element declaration </documentation>
				<!-- Declared namespaces for schematron validation -->
				<appinfo>
					<sch:title>Schematron validation</sch:title>
					<sch:ns prefix="eus" uri="http://www.euscreen.eu/schemas/euscreen/" />
				</appinfo>
			</annotation>
			<sequence>
				<element name="metadata" type="eus:MetadataType" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="MetadataType">
		<annotation>
			<appinfo>
				<sch:pattern name="Check metadata">
					<sch:rule context="eus:metadata">
						<sch:assert	test="( (eus:ObjectDescriptiveMetadata/eus:SpatioTemporalInformation/eus:TemporalInformation/eus:broadcastDate and eus:AdministrativeMetadata/eus:firstBroadcastChannel) or 
										    (eus:ObjectDescriptiveMetadata/eus:SpatioTemporalInformation/eus:TemporalInformation/eus:productionYear and not(eus:AdministrativeMetadata/eus:firstBroadcastChannel))
										  )">
							id <sch:value-of select="eus:AdministrativeMetadata/eus:identifier"/> is a <sch:value-of select="eus:ObjectDescriptiveMetadata/eus:recordType"/> record. 
							If the firstBroadcastChannel is specified then the broadcastDate is also required, if it is not then the productionYear is required.
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</appinfo>
		</annotation>
		<sequence>
			<element name="AdministrativeMetadata" type="eus:AdministrativeMetadataType"/>
			<element name="ContentDescriptiveMetadata" type="eus:ContentDescriptiveMetadataType"/>
			<element name="ObjectDescriptiveMetadata" type="eus:ObjectDescriptiveMetadataType"/>
		</sequence>
	</complexType>
	<complexType name="ContentDescriptiveMetadataType">
		<sequence>
			<element name="TitleSet" type="eus:TitleSetType" minOccurs="1" maxOccurs="1"/>
			<element name="originallanguage" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:langType">
							<attribute name="olcode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="LocalKeyword" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="clipTitle" type="string" minOccurs="0"/>
			<element name="summary" type="string"/>
			<element name="summaryInEnglish" type="string"/>
			<element name="ThesaurusTerm" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="thestermCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="genre" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="eus:genreType">
							<attribute name="genreCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="topic" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:topicType">
							<attribute name="topicCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="extendedDescription" type="string" minOccurs="0"/>
			<element name="SeriesSeasonNumber" type="string" minOccurs="0"/>
			<element name="episodeNumber" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ObjectDescriptiveMetadataType">
		<sequence>
			<element name="recordType">
				<complexType>
					<simpleContent>
						<extension base="eus:itemTypeType">
							<attribute name="itemCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="information" type="string" minOccurs="0"/>
			<element name="contributor" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="relationIdentifier" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="relationtype" type="eus:relationTypeType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="LanguageInformation" type="eus:LanguageInformationType" minOccurs="0"/>
			<element name="SpatioTemporalInformation" type="eus:SpatioTemporalInformationType" minOccurs="0"/>
			<element name="TechnicalInformation" type="eus:TechnicalInformationType" minOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="AdministrativeMetadataType">
		<sequence>
			<element name="provider">
				<complexType>
					<simpleContent>
						<extension base="eus:providersType">
							<attribute name="providerCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="publisherbroadcaster" type="string" maxOccurs="1" minOccurs="1"/>
			<element name="iprRestrictions" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:iprRestrictionsType">
							<attribute name="iprRestrictionsCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="rightsTermsAndConditions" type="string" minOccurs="0"/>
			<element name="firstBroadcastChannel" type="string" minOccurs="0"/>
			<element name="identifier" type="string"/>
			<element name="originalIdentifier" type="string" minOccurs="0"/>
			<element name="filename" type="string" minOccurs="0"/>
			<element name="digitalItemURL" type="string" minOccurs="0"/>
			<element name="landingPageURL" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="LanguageInformationType">
		<sequence>
			<element name="languageUsed" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="eus:langType">
							<attribute name="luCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="subtitleLanguage" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="eus:langType">
							<attribute name="slCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="metadatalanguage" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:langType">
							<attribute name="mlCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="SpatialInformationType">
		<sequence>
			<element name="GeographicalCoverage" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="eus:geocovType">
							<attribute name="geocovCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="CountryofProduction" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="eus:countryType">
							<attribute name="copCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="TemporalInformationType">
		<sequence>
			<element name="productionYear" type="string" minOccurs="0"/>
			<element name="broadcastDate" type="string" minOccurs="0"/>
			<element name="lastBroadCastDate" type="string" minOccurs="0"/>
			<element name="lastProductionYear" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="SpatioTemporalInformationType">
		<sequence>
			<element name="SpatialInformation" type="eus:SpatialInformationType" minOccurs="0"/>
			<element name="TemporalInformation" type="eus:TemporalInformationType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TechnicalInformationType">
		<sequence>
			<element name="materialType">
				<complexType>
					<simpleContent>
						<extension base="eus:materialType">
							<attribute name="materialCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="itemDuration" type="string" minOccurs="0"/>
			<element name="aspectRatio" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:aspectRatioType">
							<attribute name="ratioCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="itemColor" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:itemColourType">
							<attribute name="colorCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="itemSound" minOccurs="0">
				<complexType>
					<simpleContent>
						<extension base="eus:itemSoundType">
							<attribute name="soundCode" type="string"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="TitleSetInOriginalLanguageType">
		<sequence>
			<element name="title" type="string" minOccurs="0" />
			<element name="seriesOrCollectionTitle" type="string"
				minOccurs="1" maxOccurs="1" />
			<element name="alternativeSeriesOrCollectionTitle" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	<complexType name="TitleSetInEnglishType">
		<sequence>
			<element name="title" type="string" minOccurs="0" />
			<element name="seriesOrCollectionTitle" type="string"
				minOccurs="1" maxOccurs="1" />
			<element name="alternativeSeriesOrCollectionTitle" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
	<complexType name="TitleSetType">
		<sequence>
			<element name="TitleSetInOriginalLanguage" type="eus:TitleSetInOriginalLanguageType" minOccurs="1" maxOccurs="1"/>
			<element name="TitleSetInEnglish" type="eus:TitleSetInEnglishType" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<element name="ObjectDescriptiveMetadata" type="eus:ObjectDescriptiveMetadataType"/>
	<element name="ContentDescriptiveMetadata" type="eus:ContentDescriptiveMetadataType"/>
	<element name="AdministrativeMetadata" type="eus:AdministrativeMetadataType"/>
	<element name="metadata" type="eus:MetadataType"/>
	<!-- CL_Types HERE-->
	<simpleType name="geocovType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="genreType">
		<annotation>
			<documentation>Information about the genre of the resource (as defined in EUscreen)</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="News"/>
			<enumeration value="Drama/Fiction"/>
			<enumeration value="Entertainment and performing arts"/>
			<enumeration value="Factual"/>
			<enumeration value="Advertisements"/>
			<enumeration value="Interstitials and trailers"/>
			<enumeration value="Sport"/>
		</restriction>
	</simpleType>
	<simpleType name="topicType">
		<annotation>
			<documentation>Information about the topic of the resource (defined in EUscreen). Please assign each item to ONE historical topic ONLY.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Wars and conflict"/>
			<enumeration value="Society and social issues"/>
			<enumeration value="Transportation, science and technology"/>
			<enumeration value="Religion and belief"/>
			<enumeration value="Politics and Economics"/>
			<enumeration value="National holidays, festivals, anniversaries and annual events"/>
			<enumeration value="The media"/>
			<enumeration value="Lifestyle and consumerism"/>
			<enumeration value="Health"/>
			<enumeration value="Environment and Nature"/>
			<enumeration value="Education"/>
			<enumeration value="Disasters"/>
			<enumeration value="Arts and culture"/>
			<enumeration value="Work and production"/>
			<enumeration value="Special collections"/>
			<enumeration value="Being European"/>
			<enumeration value="History of European Television"/>
		</restriction>
	</simpleType>
	<simpleType name="countryType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="langType">
		<restriction base="string">
			<enumeration value="Abkhazian"/>
			<enumeration value="Afar"/>
			<enumeration value="Afrikaans"/>
			<enumeration value="Akan"/>
			<enumeration value="Albanian"/>
			<enumeration value="Amharic"/>
			<enumeration value="Arabic"/>
			<enumeration value="Aragonese"/>
			<enumeration value="Armenian"/>
			<enumeration value="Assamese"/>
			<enumeration value="Avaric"/>
			<enumeration value="Avestan"/>
			<enumeration value="Aymara"/>
			<enumeration value="Azerbaijani"/>
			<enumeration value="Bambara"/>
			<enumeration value="Bashkir"/>
			<enumeration value="Basque"/>
			<enumeration value="Belarusian"/>
			<enumeration value="Bengali"/>
			<enumeration value="Bihari"/>
			<enumeration value="Bislama"/>
			<enumeration value="Bokmal, Norwegian; Norwegian Bokmal"/>
			<enumeration value="Bosnian"/>
			<enumeration value="Breton"/>
			<enumeration value="Bulgarian"/>
			<enumeration value="Burmese"/>
			<enumeration value="Catalan; Valencian"/>
			<enumeration value="Central Khmer"/>
			<enumeration value="Chamorro"/>
			<enumeration value="Chechen"/>
			<enumeration value="Chichewa; Chewa; Nyanja"/>
			<enumeration value="Chinese"/>
			<enumeration value="Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic"/>
			<enumeration value="Chuvash"/>
			<enumeration value="Cornish"/>
			<enumeration value="Corsican"/>
			<enumeration value="Cree"/>
			<enumeration value="Croatian"/>
			<enumeration value="Czech"/>
			<enumeration value="Danish"/>
			<enumeration value="Divehi; Dhivehi; Maldivian"/>
			<enumeration value="Dutch; Flemish"/>
			<enumeration value="Dzongkha"/>
			<enumeration value="English"/>
			<enumeration value="Esperanto"/>
			<enumeration value="Estonian"/>
			<enumeration value="Ewe"/>
			<enumeration value="Faroese"/>
			<enumeration value="Fijian"/>
			<enumeration value="Finnish"/>
			<enumeration value="French"/>
			<enumeration value="Fulah"/>
			<enumeration value="Gaelic; Scottish Gaelic"/>
			<enumeration value="Galician"/>
			<enumeration value="Ganda"/>
			<enumeration value="Georgian"/>
			<enumeration value="German"/>
			<enumeration value="Greek, Modern (1453-)"/>
			<enumeration value="Guarani"/>
			<enumeration value="Gujarati"/>
			<enumeration value="Haitian; Haitian Creole"/>
			<enumeration value="Hausa"/>
			<enumeration value="Hebrew"/>
			<enumeration value="Herero"/>
			<enumeration value="Hindi"/>
			<enumeration value="Hiri Motu"/>
			<enumeration value="Hungarian"/>
			<enumeration value="Icelandic"/>
			<enumeration value="Ido"/>
			<enumeration value="Igbo"/>
			<enumeration value="Indonesian"/>
			<enumeration value="Interlingua (International Auxiliary Language Association)"/>
			<enumeration value="Interlingue"/>
			<enumeration value="Inuktitut"/>
			<enumeration value="Inupiaq"/>
			<enumeration value="Irish"/>
			<enumeration value="Italian"/>
			<enumeration value="Japanese"/>
			<enumeration value="Javanese"/>
			<enumeration value="Kalaallisut; Greenlandic"/>
			<enumeration value="Kannada"/>
			<enumeration value="Kanuri"/>
			<enumeration value="Kashmiri"/>
			<enumeration value="Kazakh"/>
			<enumeration value="Kikuyu; Gikuyu"/>
			<enumeration value="Kinyarwanda"/>
			<enumeration value="Kirghiz; Kyrgyz"/>
			<enumeration value="Komi"/>
			<enumeration value="Kongo"/>
			<enumeration value="Korean"/>
			<enumeration value="Kuanyama; Kwanyama"/>
			<enumeration value="Kurdish"/>
			<enumeration value="Lao"/>
			<enumeration value="Latin"/>
			<enumeration value="Latvian"/>
			<enumeration value="Limburgan; Limburger; Limburgish"/>
			<enumeration value="Lingala"/>
			<enumeration value="Lithuanian"/>
			<enumeration value="Luba-Katanga"/>
			<enumeration value="Luxembourgish; Letzeburgesch"/>
			<enumeration value="Macedonian"/>
			<enumeration value="Malagasy"/>
			<enumeration value="Malay"/>
			<enumeration value="Malayalam"/>
			<enumeration value="Maltese"/>
			<enumeration value="Manx"/>
			<enumeration value="Maori"/>
			<enumeration value="Marathi"/>
			<enumeration value="Marshallese"/>
			<enumeration value="Moldavian"/>
			<enumeration value="Mongolian"/>
			<enumeration value="Nauru"/>
			<enumeration value="Navajo; Navaho"/>
			<enumeration value="Ndebele, North; North Ndebele"/>
			<enumeration value="Ndebele, South; South Ndebele"/>
			<enumeration value="Ndonga"/>
			<enumeration value="Nepali"/>
			<enumeration value="Northern Sami"/>
			<enumeration value="Norwegian"/>
			<enumeration value="Norwegian Nynorsk; Nynorsk, Norwegian"/>
			<enumeration value="Occitan (post 1500); Provençal"/>
			<enumeration value="Ojibwa"/>
			<enumeration value="Oriya"/>
			<enumeration value="Oromo"/>
			<enumeration value="Ossetian; Ossetic"/>
			<enumeration value="Pali"/>
			<enumeration value="Panjabi; Punjabi"/>
			<enumeration value="Persian"/>
			<enumeration value="Polish"/>
			<enumeration value="Portuguese"/>
			<enumeration value="Pushto"/>
			<enumeration value="Quechua"/>
			<enumeration value="Romanian"/>
			<enumeration value="Romansh"/>
			<enumeration value="Rundi"/>
			<enumeration value="Russian"/>
			<enumeration value="Samoan"/>
			<enumeration value="Sango"/>
			<enumeration value="Sanskrit"/>
			<enumeration value="Sardinian"/>
			<enumeration value="Serbian"/>
			<enumeration value="Shona"/>
			<enumeration value="Sichuan Yi"/>
			<enumeration value="Sindhi"/>
			<enumeration value="Sinhala; Sinhalese"/>
			<enumeration value="Slovak"/>
			<enumeration value="Slovenian"/>
			<enumeration value="Somali"/>
			<enumeration value="Sotho"/>
			<enumeration value="Spanish; Castilian, Southern"/>
			<enumeration value="Sundanese"/>
			<enumeration value="Swahili"/>
			<enumeration value="Swati"/>
			<enumeration value="Swedish"/>
			<enumeration value="Tagalog"/>
			<enumeration value="Tahitian"/>
			<enumeration value="Tajik"/>
			<enumeration value="Tamil"/>
			<enumeration value="Tatar"/>
			<enumeration value="Telugu"/>
			<enumeration value="Thai"/>
			<enumeration value="Tibetan"/>
			<enumeration value="Tigrinya"/>
			<enumeration value="Tonga (Tonga Islands)"/>
			<enumeration value="Tsonga"/>
			<enumeration value="Tswana"/>
			<enumeration value="Turkish"/>
			<enumeration value="Turkmen"/>
			<enumeration value="Twi"/>
			<enumeration value="Uighur; Uyghur"/>
			<enumeration value="Ukrainian"/>
			<enumeration value="Urdu"/>
			<enumeration value="Uzbek"/>
			<enumeration value="Venda"/>
			<enumeration value="Vietnamese"/>
			<enumeration value="Volapuk"/>
			<enumeration value="Welsh"/>
			<enumeration value="Western Frisian"/>
		</restriction>
	</simpleType>
	<simpleType name="aspectRatioType">
		<annotation>
			<documentation>Aspect ratio of the item</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="4:3"/>
			<enumeration value="14:9"/>
			<enumeration value="16:9"/>
		</restriction>
	</simpleType>
	<simpleType name="itemColourType">
		<annotation>
			<documentation>Information about colour reproduction of the item</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Black &amp; White"/>
			<enumeration value="Colour"/>
			<enumeration value="Mixed"/>
		</restriction>
	</simpleType>
	<simpleType name="itemSoundType">
		<annotation>
			<documentation>Information about the audio reproduction of the item</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Mute"/>
			<enumeration value="Mono"/>
			<enumeration value="Stereo"/>
		</restriction>
	</simpleType>
	<simpleType name="itemTypeType">
		<annotation>
			<documentation>Information about the type of record, i.e. is it a series/collection entry, a whole pro-gramme/film, or an extract </documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="SERIES/COLLECTION"/>
			<enumeration value="ITEM"/>
			<enumeration value="CLIP"/>
		</restriction>
	</simpleType>
	<simpleType name="materialType">
		<restriction base="string">
			<enumeration value="VIDEO"/>
			<enumeration value="IMAGE"/>
			<enumeration value="SOUND"/>
			<enumeration value="TEXT"/>
		</restriction>
	</simpleType>
	<simpleType name="providersType">
		<annotation>
			<documentation>The name of the content provider for the given item. It will be automatically assigned by the EUscreen import and annotation tool. </documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="CT"/>
			<enumeration value="DR"/>
			<enumeration value="DW"/>
			<enumeration value="INA"/>
			<enumeration value="KB"/>
			<enumeration value="LCVA"/>
			<enumeration value="LUCE"/>
			<enumeration value="Memoriav"/>
			<enumeration value="NAVA"/>
			<enumeration value="NINA"/>
			<enumeration value="NISV"/>
			<enumeration value="ORF"/>
			<enumeration value="RTBF"/>
			<enumeration value="RTE"/>
			<enumeration value="RTP"/>
			<enumeration value="RTV SLO"/>
			<enumeration value="SASE"/>
			<enumeration value="TVC"/>
			<enumeration value="TVP"/>
			<enumeration value="TVR"/>
			<enumeration value="BUFVC"/>
		</restriction>
	</simpleType>
	<simpleType name="iprRestrictionsType">
		<annotation>
			<documentation>Statement about the f IPR status of the item. The value of this element corresponds to one of the values listed in the Europeana rights statement</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Rights Reserved - Free Access"/>
			<enumeration value="Rights Reserved - Paid Access"/>
			<enumeration value="Rights Reserved - Restricted Access"/>
			<enumeration value="Creative Commons - Zero (CC0)"/>
			<enumeration value="Creative Commons - Attribution (BY)"/>
			<enumeration value="Creative Commons - Attribution, Share Alike (BY-SA)"/>
			<enumeration value="Creative Commons - Attribution, No derivatives (BY-ND)"/>
			<enumeration value="Creative Commons - Attribution, Non-commercial (BY-NC)"/>
			<enumeration value="Creative Commons - Attribution, Non-commercial, Share Alike (BY-NC-SA)"/>
			<enumeration value="Creative Commons - Attribution, Non-commercial, No derivatives (BY-NC-ND)"/>
			<enumeration value="Unknown"/>
		</restriction>
	</simpleType>
	<simpleType name="relationTypeType">
		<annotation>
			<documentation>Reference to an item to which the current item is related at production level. (See Relation Type for the kinds of relations that this specifies.) This reference of the related item can be the 'Identifier' (EUscreen unique identifier)</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="hasPart"/>
			<enumeration value="hasVersion"/>
			<enumeration value="hasEpisodes"/>
			<enumeration value="isEpisodeOf"/>
			<enumeration value="isVersionOf"/>
			<enumeration value="isPartOf"/>
			<enumeration value="isReferencedBy"/>
			<enumeration value="isRelatedTo"/>
			<enumeration value="references"/>
			<!--sample -->
		</restriction>
	</simpleType>
</schema>
