schemas/dm2ev1.2/DM2E.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://onto.dm2e.eu/schemas/dm2e/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:edm="http://www.europeana.eu/schemas/edm/" xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:dm2e="http://onto.dm2e.eu/schemas/dm2e/" xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:void="http://rdfs.org/ns/void#" elementFormDefault="qualified">

  <annotation>
    <documentation>
      EDM+ v 1: DM2E
    </documentation>
  </annotation>


  <import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="RDF.xsd"/>
  <import namespace="http://rdfs.org/ns/void#" schemaLocation="VOID.xsd"/>
  <import namespace="http://www.europeana.eu/schemas/edm/" schemaLocation="EDM-COMMON-MAIN.xsd"/>
  <import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="FOAF.xsd"/>

  <element name="DataResource" type="dm2e:DataResoureType">
    <annotation>
      <documentation>A data resource is a non-abstract information resource that provides RDF data. Therefore, it is a specialization of a foaf:Document. In DM2E, every dm2e:DataResource is connected to a void:Dataset by means of void:inDataset.</documentation>
    </annotation>
  </element>

  <element name="hasAnnotableVersionAt" type="edm:WebResourceType2">
    <annotation>
      <documentation>The property dm2e:hasAnnotatableVersionAt holds an URL which leads to an HTML representation or to an image of the content, i.e. of the CHO aggregated by the current Aggregation. The URL of the HTML content or image file must be stable. The type of the WebResource must be further specified as “text/html-named-content”, “text/plain”, “image/gif”, “image/jpeg” or “image/png”.</documentation>
    </annotation>
  </element>

  <complexType name="DataResoureType">
    <complexContent>
      <extension base="rdf:AboutType">
        <sequence>
          <element ref="void:inDataset" maxOccurs="1" minOccurs="1"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="cover" type="rdf:LiteralType">
    <annotation>
      <documentation>Description of the cover of the CHO, e.g. the cover’s type of material.</documentation>
    </annotation>
  </element>

  <element name="scopeNote" type="rdf:ResourceOrLiteralType">
    <annotation>
      <documentation>This property describes the dm2e-specific usage of the resource.</documentation>
    </annotation>
  </element>
  <element name="support" type="rdf:LiteralType">
    <annotation>
      <documentation>Description of the type of material of the physical CHO.</documentation>
    </annotation>
  </element>

  <element name="subtitle" type="rdf:LiteralType">
    <annotation>
      <documentation>Any form of a subtitle.</documentation>
    </annotation>
  </element>

  <element name="incipit" type="rdf:LiteralType">
    <annotation>
      <documentation>Opening words of a manuscript.</documentation>
    </annotation>
  </element>

  <element name="explicit" type="rdf:LiteralType">
    <annotation>
      <documentation>Final words of a manuscript.</documentation>
    </annotation>
  </element>

  <element name="publishedAt" type="rdf:ResourceType">
    <annotation>
      <documentation>The place of a physical publication or the Web resource of a Web publication.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="publishedAt2" type="edm:PlaceType2">
    <annotation>
      <documentation>The place of a physical publication or the Web resource of a Web publication.</documentation>
    </annotation>
  </element>

  <element name="printedAt" type="rdf:ResourceType">
    <annotation>
      <documentation>Indicates the place where the CHO was printed.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="printedAt2" type="edm:PlaceType2">
    <annotation>
      <documentation>Indicates the place where the CHO was printed.</documentation>
    </annotation>
  </element>

  <element name="callNumber" type="rdf:LiteralType">
    <annotation>
      <documentation>The call number for some archival item.</documentation>
    </annotation>
  </element>

  <element name="shelfmarkLocation" type="rdf:LiteralType">
    <annotation>
      <documentation>Shelfmark location from the CHO.</documentation>
    </annotation>
  </element>

  <element name="levelOfGenesis" type="rdf:LiteralType">
    <annotation>
      <documentation>The property holds additional information about the genesis of the CHO. Sometimes there are unfinished works or there are only drafts. This could be described more in detail here.</documentation>
    </annotation>
  </element>

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <element name="condition" type="rdf:LiteralType">
    <annotation>
      <documentation>Contains a description of the CHOs condition.</documentation>
    </annotation>
  </element>

  <element name="watermark" type="rdf:LiteralType">
    <annotation>
      <documentation>Contains a description of a watermark which the CHO carries.</documentation>
    </annotation>
  </element>

  <element name="illustration" type="rdf:LiteralType">
    <annotation>
      <documentation>Generic description of illustrations in the CHO.</documentation>
    </annotation>
  </element>

  <element name="restoration" type="rdf:LiteralType">
    <annotation>
      <documentation>Contains a information about the restoration status of the CHO.</documentation>
    </annotation>
  </element>

  <element name="pageDimension" type="rdf:LiteralType">
    <annotation>
      <documentation>Page size. Please do also note the unit that was used!</documentation>
    </annotation>
  </element>

  <element name="writtenAreaDimension" type="rdf:LiteralType">
    <annotation>
      <documentation>Size of writing or the part of the page where something is actually written. Please do also note the unit that was used!</documentation>
    </annotation>
  </element>

  <element name="refersTo" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or CHO that is explicitly or implicitly mentioned in the (textual) CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="refersTo2" type="edm:ProvidedCHOType2">
    <annotation>
      <documentation>A person or CHO that is explicitly or implicitly mentioned in the (textual) CHO.</documentation>
    </annotation>
  </element>

  <element name="wasStudiedBy" type="rdf:ResourceType">
    <annotation>
      <documentation>The CHO was studied by an Agent.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="wasStudiedBy2" type="edm:AgentType2">
    <annotation>
      <documentation>The CHO was studied by an Agent.</documentation>
    </annotation>
  </element>

  <element name="wasTaughtBy" type="rdf:ResourceType">
    <annotation>
      <documentation>The CHO was taught by an Agent.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="wasTaughtBy2" type="edm:AgentType2">
    <annotation>
      <documentation>The CHO was taught by an Agent.</documentation>
    </annotation>
  </element>


  <element name="artist" type="rdf:ResourceType">
    <annotation>
      <documentation>An artist that has created (e.g. painted) the CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="artist2" type="foaf:PersonType2">
    <annotation>
      <documentation>An artist that has created (e.g. painted) the CHO.</documentation>
    </annotation>
  </element>


  <element name="composer" type="rdf:ResourceType">
    <annotation>
      <documentation>Person who has composed a CHO (e.g. a letter). Can be the same as the person who wrote the letter, but can also be a different person, e.g. someone who has dictated but not wrote the letter.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="composer2" type="foaf:PersonType2">
    <annotation>
      <documentation>Person who has composed a CHO (e.g. a letter). Can be the same as the person who wrote the letter, but can also be a different person, e.g. someone who has dictated but not wrote the letter.</documentation>
    </annotation>
  </element>

  <element name="copyist" type="rdf:ResourceType">
    <annotation>
      <documentation>Someone who copied a CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="copyist2" type="foaf:PersonType2">
    <annotation>
      <documentation>Someone who copied a CHO.</documentation>
    </annotation>
  </element>

  <element name="honoree" type="rdf:ResourceType">
    <annotation>
      <documentation>An honored person, for whom the CHO is published or created.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="honoree2" type="foaf:PersonType2">
    <annotation>
      <documentation>An honored person, for whom the CHO is published or created.</documentation>
    </annotation>
  </element>

  <element name="mentioned" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or institution that is explicitly mentioned in the (textual) CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="mentioned2" type="edm:AgentType2">
    <annotation>
      <documentation>A person or institution that is explicitly mentioned in the (textual) CHO.</documentation>
    </annotation>
  </element>

  <element name="portrayed" type="rdf:ResourceType">
    <annotation>
      <documentation>An honored person, for whom the CHO is published or created.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="portrayed2" type="foaf:PersonType2">
    <annotation>
      <documentation>A person that is portrayed in the (textual or painted) CHO by its creator.</documentation>
    </annotation>
  </element>

  <element name="misattributed" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or institution that is mentioned as the creator of the CHO although he is not the creator.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="misattributed2" type="edm:AgentType2">
    <annotation>
      <documentation>A person or institution that is mentioned as the creator of the CHO although he is not the creator.</documentation>
    </annotation>
  </element>

  <element name="owner" type="rdf:ResourceType">
    <annotation>
      <documentation>Indicates the ownership of a CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="owner2" type="edm:AgentType2">
    <annotation>
      <documentation>Indicates the ownership of a CHO.</documentation>
    </annotation>
  </element>

  <element name="previousOwner" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or an institution that has owned the CHO before.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="previousOwner2" type="edm:AgentType2">
    <annotation>
      <documentation>A person or an institution that has owned the CHO before.</documentation>
    </annotation>
  </element>

  <element name="painter" type="rdf:ResourceType">
    <annotation>
      <documentation>A painter. In the manuscript context especially used in works of the 16th and 17th century (rare books).</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="painter2" type="foaf:PersonType2">
    <annotation>
      <documentation>A painter. In the manuscript context especially used in works of the 16th and 17th century (rare books).</documentation>
    </annotation>
  </element>

  <element name="patron" type="rdf:ResourceType">
    <annotation>
      <documentation>A person who is honored within the text.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="patron2" type="foaf:PersonType2">
    <annotation>
      <documentation>A person who is honored within the text.</documentation>
    </annotation>
  </element>

  <element name="principal" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or an institution that gave the order to create the CHO.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="principal2" type="edm:AgentType2">
    <annotation>
      <documentation>A person or an institution that gave the order to create the CHO.</documentation>
    </annotation>
  </element>

  <element name="sponsor" type="rdf:ResourceType">
    <annotation>
      <documentation>A person or an institution who has sponsored (parts) of the CHOs creation.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="sponsor2" type="edm:AgentType2">
    <annotation>
      <documentation>A person or an institution who has sponsored (parts) of the CHOs creation.</documentation>
    </annotation>
  </element>

  <element name="writer" type="rdf:ResourceType">
    <annotation>
      <documentation>A person who has written a CHO, e.g. a letter.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="writer2" type="foaf:PersonType2">
    <annotation>
      <documentation>A person who has written a CHO, e.g. a letter.</documentation>
    </annotation>
  </element>

  <element name="contributor" type="rdf:ResourceType">
    <annotation>
      <documentation>A person that is responsible for making contributions to the resource.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="contributor2" type="edm:AgentType2">
    <annotation>
      <documentation>A person that is responsible for making contributions to the resource.</documentation>
    </annotation>
  </element>

  <!-- Change this -->

  <!-- Change this -->

  <!-- Change this -->

  <element name="influencedBy" type="rdf:ResourceType">
    <annotation>
      <documentation>Another agent by which the agent was influenced.</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="influencedBy2" type="foaf:PersonType2">
    <annotation>
      <documentation>Another agent by which the agent was influenced.</documentation>
    </annotation>
  </element>

  <element name="studentOf" type="rdf:ResourceType">
    <annotation>
      <documentation>A teacher of the agent..</documentation>
    </annotation>
  </element>

  <!-- Change this -->
  <element name="studentOf2" type="foaf:PersonType2">
    <annotation>
      <documentation>A teacher of the agent..</documentation>
    </annotation>
  </element>
  <element name="origin" type="rdf:LiteralType">
    <annotation>
      <documentation>Provenance information about the origin of the physical CHO (analogue MAB field 664aa1).</documentation>
    </annotation>
  </element>
  <element name="modeOfAcquisition" type="rdf:LiteralType">
    <annotation>
      <documentation>The property dm2e:modeOfAcquisition holds meta data about the acquisition of the CHO (analogue to MAB field 664ba1). </documentation>
    </annotation>
  </element>
  <element name="writtenAt" type="rdf:ResourceOrLiteralType">
    <annotation>
      <documentation>Indicates the place where the CHO was written.</documentation>
    </annotation>
  </element>
  <element name="holdingInstitution" type="rdf:ResourceOrLiteralType">
    <annotation>
      <documentation>The institution holding the physical CHO, e.g. a specific library.</documentation>
    </annotation>
  </element>
  <element name="genre" type="rdf:ResourceOrLiteralType">
    <annotation>
      <documentation>Genre of the CHO, in German “Formschlagworte”. Examples: schoolbook, letter collection.</documentation>
    </annotation>
  </element>
  <element name="levelOfHierarchy" type="rdf:LiteralType">
    <annotation>
      <documentation>The Top-Level-CHO must contain the number “1” as value of the dm2e:levelOfHierarchy property. All bottom hierarchy levels must be mark by incremental adding +1. For example Second-Level-CHO “2” and so on.</documentation>
    </annotation>
  </element>
  <element name="displayLevel" type="rdf:LiteralType">
    <annotation>
      <documentation>The property with the value “true” should be added to the Level-CHO
that should be displayed via the search engine. To all other Part-CHO the value is “false”.</documentation>
    </annotation>
  </element>
</schema>
